* {
  font-family: Inconsolata;
}

body {
  background: #fffff4;
  padding: 0;
  margin: 0;
}

.header {
  background: #eedddd;
  margin: 8px 0;
  padding: 6px 16px;
  position: relative;
}

h1 {
  font-size: 18pt;
  margin: 0;
  float: left;
}

ul.menu {
  float: left;
  padding: 0;
  margin: 0;
  margin-left: 2rem;
  line-height: 1.8;
}

ul.menu li {
  margin: 0;
  /*margin-left: 1.0rem;*/
  padding: 0;
  list-style: none;
  display: inline;
}

.menu li:after {
  content: ' \00b7';
}

.menu li:before {
  content: ' ';
}

.menu li:last-child:after {
  content: none;
}

li.menuSelected {
  font-weight: bold;
}

.clearFix {
  clear: both;
}

span.tagline {
  float: right;
  line-height: 1.8;
}

.tableControls {
  padding: 2px 16px;
}

.tableControlRow {
  position: relative;
  margin-bottom: 4px;
}

.tableControlRow b {
  margin-right: 8px;
}

.tableControlRow label {
  cursor: pointer;
  padding: 0 4px;
}

.tableControlRow label.selected {
  font-weight: bold;
  border-radius: 2px;
  background: #ddddee;
}

.tableControlRow input {
  display: none;
}

.tableControlDisplay {
  position: absolute;
  top: 0;
  right: 0;
}

:link, :visited {
  color: inherit;
}

.tableContainer {
  margin: 4px 12px;
}

table.courseTable {
  border-collapse: collapse;
  width: 100%;
  display: block;
}

tr.expanded {
  background: white;
}

table.courseTable tbody tr.odd {
  background: #eeeee0;
}

table.courseTable tbody tr.even {
}

table.courseTable td, table.courseTable th {
  padding: 2px 4px;
}

table.courseTable td {
  border-left: 1px solid #fffff4;
  border-right: 1px solid #fffff4;
}

table.courseTable th {
  border-bottom: 1px solid black;
}

a.sortControl {
  cursor: pointer;
}

span.sortindicator {
  font-size: 80%;
  position: absolute;
}

td.courseName {
  cursor: pointer;
}

tr.fillRow {
  height: 100%;
}

.afterTable {
  margin: 16px 5px 16px 5px;
}
